@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  transition: 0.1s ease;
  scroll-behavior: smooth;
}

label[for="customCheckbox"]::before {
  content: "";
  display: inline-block;
  background-image: url("../public/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--check-purple);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --check-purple: rgb(24, 101, 242);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.framer-1hhkxcy {
  -webkit-mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: radial-gradient(
    62% 67.9245283018868% at 39% 41.5%,
    rgba(0, 81, 255, 0) 0%,
    rgba(0, 153, 255, 0) 36%,
    rgba(0, 153, 255, 0) 63%,
    rgba(0, 128, 255, 0.25) 83%,
    rgb(24, 101, 242) 100%
  );
  bottom: 0;
  flex: none;
  height: 498px;
  left: 0;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%) add;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

.framer-1k30ov7 {
  background: radial-gradient(
    50% 32% at 50% 100%,
    #009dff 0%,
    rgba(0, 217, 255, 0.25) 53%,
    rgba(0, 119, 255, 0.15) 79%,
    rgba(0, 178, 255, 0) 100%
  );
  bottom: 0;
  flex: none;
  height: 290px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 3;
}

.framer-1mpp1vv {
  -webkit-mask: radial-gradient(
      73% 93% at 48.5% 40.300000000000004%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: linear-gradient(
    180deg,
    rgba(0, 153, 255, 0) 0%,
    rgb(0, 178, 255) 100%
  );
  flex: none;
  inset: 108px 0 0;
  mask: radial-gradient(
      73% 93% at 48.5% 40.300000000000004%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.framer-10hbzmm {
  -webkit-mask: radial-gradient(
      50% 131% at 48.699999999999996% 31.8%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.32556) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: linear-gradient(
    180deg,
    rgba(0, 85, 255, 0) 0%,
    rgba(24, 101, 242, 0.7) 100%
  );
  flex: none;
  inset: 208px 0 0;
  mask: radial-gradient(
      50% 131% at 48.699999999999996% 31.8%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.32556) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
